# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class

# Xtext
src-gen/
**/model/generated/
.antlr-generator-*-patch.jar

# EMF
model-gen/

# Xtend
xtend-gen/
*._trace
*.xtendbin

# Maven
target/
.polyglot.build.properties
.mvn/wrapper/maven-wrapper.jar

# Custom
EvaluationData

# Include src-gen of atomic changes to avoid having to regenerate them
!overrides/bundles/tools.vitruv.change.atomic/src-gen
